@model Company

<h1>@Model.Name</h1>
<div>Id: @Model.Id</div>
<div>Contact email: @Model.ContactEmail</div>
<div>Contact phone: @Model.ContactPhoneNumber</div>
<div>Main address: @Model.MainAddress</div>

<div>
    <a asp-action="Index">Back</a>
</div>