@model HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>

<environment names="Development">
    <p>We are debugging!</p>
</environment>

<div>
    @foreach (var fileInfo in Model.FileInfos)
    {
        <div>
            <div>
                <a asp-action="Details" asp-route-id="@fileInfo.Id">Details</a>
                |
                <a asp-action="Edit" asp-route-id="@fileInfo.Id">Edit</a>
                </div>
                <div>@fileInfo.FileName</div>
                <div>@fileInfo.FileSizeInBytes</div>
            </div>
            <hr />
    }
</div>

<div>
    <a asp-action="Upload">Upload</a>
</div>

@section footer{
    <h3>@Model.Message</h3>
}