@model FileInfo

<div class="col-lg-6">
    <div class="panel panel-default" id="file-@Model.Id">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.FileName</h3>
        </div>
        <div class="panel-body">
            <div>
                Size in bytes: @Model.FileSizeInBytes
            </div>
            <div>
                Content type: @Model.ContentType
            </div>
        </div>

        <div class="panel-footer">
            <a class="btn btn-primary" asp-action="Download" asp-route-id="@Model.Id" id="download-file-@Model.Id">Download</a>
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id" id="details-file-@Model.Id">Details</a>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id" id="edit-file-@Model.Id">Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" id="delete-file-@Model.Id">Delete</a>
        </div>
    </div>
</div>