@model FileInfo

<section class="panel panel-default">
    <h3 class="panel-heading">@Model.FileName</h3>
    
    <div class="panel-body">
        <div>
            Size in bytes: @Model.FileSizeInBytes
        </div>
        <div>
            Content type: @Model.ContentType
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-primary" asp-action="Download" asp-route-id="@Model.Id">Download</a>
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</section>