@model Company

<div class="page-header">
    <h1>@Model.Name</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Id</h4>
        <p>@Model.Id</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Contact email</h4>
        <p>@Model.ContactEmail</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Contact phone</h4>
        <p>@Model.ContactPhoneNumber</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Main address</h4>
        <p>@Model.MainAddress</p>
    </div>
</div>

<div >
    <a asp-action="Index">Back</a>
</div>