@model IEnumerable<Company>

<div>
    @if (Model != null)
    {
        foreach (var company in Model)
        {
            <section class="panel panel-default">
                <h3 class="panel-heading">@company.Name</h3>

                <div class="panel-body">
                    <div>
                        Main address: @company.MainAddress
                    </div>
                    <div>
                        Contact email: @company.ContactEmail
                    </div>
                    <div>
                        Contact phone number: @company.ContactPhoneNumber
                    </div>
                </div>

                <div class="panel-footer">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@company.Id">Details</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@company.Id">Edit</a>
                </div>
            </section>

            <hr />
        }
    }
    
</div>
<div>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</div>